body{
  font-family: Comfortaa
}
/*navbar*/
.header1 {
  width: 100%;
  height: 600px;
  background: url(postal_lafo1.png) no-repeat 50% 50%;
  background-size: cover;

}
.navbar {
  position: fixed;
  height: 80px;
  width: 100%;
  overflow: hidden;
  top: 0;
  align-items: center;
  background: #f1f1f1;
  z-index: 999;
}

.menu {
  position: absolute;
  right: 25%;
  top: 35%;
}

.menu a {
  color: #333;
  text-decoration: none;
  font-weight: 700;
  margin-left: 20px;
  transition: color 0.3s;
  text-transform: uppercase;
}

.menu a:hover {
  color: #E7D60A;
}



.btn {
  display: none;
  position: absolute;
  right: 20px;
  top: 25%;
}

.btn:hover > span {
  background-color: #E7D60A;
}

.btn span {
  display: block;
  margin: 6px;
  width: 40px;
  height: 3px;
  background: #333;
}

@media only screen and (max-width: 1200px) {
  .navbar {
    overflow: visible;
  }
  .menu {
    width: 100%;
    right: 0;
    top: 60px;
    background: #f1f1f1;
    overflow: hidden;
    max-height: 0;
  }
  .menu a {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 0;
    
  }
  .btn {
    display: block;
    cursor: pointer;
  }
  .show {
    max-height: 500px;
  }
}
/* navbar*/



/*footer*/
footer {
 
  text-align: center;
  padding: 10px;
  width: 100%;
  
}
#linea2{

  vertical-align: center;

height: 8px;
background-color: black;
border-radius: 10px;
border-color: black;
width: 20%;
}


/*TITULO*/

.titulocontacto{
text-align: center;

font-size: 40px;

}

.redes{

  text-decoration: none;
}

/*chat */
.chat-container{
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: 340px;
  height: auto;
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 999;
}


.chat-button{
  width: 100%;
  margin: 0;
  cursor: pointer;
  user-select: none;
  padding: 4px 0;
  background-color: black;
  text-align: center;
  color: #fff;
}

.chat-content{
  margin: 0;
  padding: 0;
  display: none;
  background-color: #fff;
}

/*menu interno*/
ul {
  list-style:none;
  text-decoration: none;
  margin-left: 20%;
  
  
}

li {
  background:black;
  padding:10px 20px;
  margin:4px 0px;
  width:200px;
  text-align:center;
  border-left:10px solid  #FB3E93;
  box-shadow: 0px 1px 1px rgba(0,0,0,.12), 0px 1px 1.5px rgba(0,0,0,.24);
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.decoracion:hover{
  text-decoration: none;
<<<<<<< HEAD
}

/*fondos*/

.decoracionfon{
  text-decoration: none;
  color: black;
  margin-right: 20px;
  margin-left: 20px;
}
.decoracionfon1:hover{
  text-decoration: none;
}

img {
    width: auto;
    height: auto;
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}
img, embed, object, video {
    max-width: 100%;
}
/* end normalize.css */

.gallery {
    margin-left: -21px;
    margin-bottom: 21px;
    margin-bottom: 1.5rem;
}
.ie8 .gallery {
    margin-left: 0;
  background:red;
}
.gallery-item {
    position: relative;
    float: left;
    text-align: center;
    margin: 0 0 21px;
    margin: 0 0 1.5rem;
    padding: 21px;
    padding: 1.5rem;
    border: 0 solid rgba(0, 0, 0, 0);
    border-left-width: 21px;
    border-left-width: 1.5rem;
}

.ie8 .gallery-item {
  padding: 0 21px;
}

.gallery-item:before {
    position: absolute;
    content:"";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #ccc;
    
}
.gallery-item img {
    border: 1px solid #ccc;
}
.gallery-item a {
    position: relative;
    
}
.gallery-columns-1 > .gallery-item {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.gallery-columns-2 > .gallery-item {
    width: 50%;
}
.gallery-columns-3 > .gallery-item {
    width: 33.333%;
}
.gallery-columns-4 > .gallery-item {
    width: 25%;
}
.gallery-columns-5 > .gallery-item {
    width: 20%;
}
.gallery-columns-2 > .gallery-item:nth-of-type(2n + 1), .gallery-columns-3 > .gallery-item:nth-of-type(3n + 1), .gallery-columns-4 > .gallery-item:nth-of-type(4n + 1), .gallery-columns-5 > .gallery-item:nth-of-type(5n + 1) {
    margin-left: 0;
}
.gallery-columns-2 > .gallery-item:nth-of-type(2n), .gallery-columns-3 > .gallery-item:nth-of-type(3n), .gallery-columns-4 > .gallery-item:nth-of-type(4n), .gallery-columns-5 > .gallery-item:nth-of-type(5n) {
    margin-right: 0;
}
.ie8 .gallery-columns-2 > .gallery-item {
    width: 49%;
}
.ie8 .gallery-columns-3 > .gallery-item {
    width: 32.3%;
}
.ie8 .gallery-columns-4 > .gallery-item {
    width: 24%;
}
.ie8 .gallery-columns-5 > .gallery-item {
    width: 19%;
}
.gallery-caption {
    font-size: 14px;
    font-size: .875rem;
    /* 14px / 16 = .875 */
    margin-left: 0;
    padding: 8px 0;
    padding: .75em 0 0;
}
.gallery-caption > :last-child {
    margin-bottom: 0;
}
/*
div#quad { 
  background-color: #000; 
  font-size: 0; width: 60%; 
  margin: 0 auto;
  
}
div#quad figure { 
  margin: 0; width: 50%; 
  height: auto; transition: 0.4s; 
  display: inline-block; 
  position: relative; overflow: hidden; 
}
div#quad figure:hover { cursor: pointer; z-index: 6 }
div#quad figure img { width: 100%; height: auto; }
div#quad figure:nth-child(1) { transform-origin: top left; }
div#quad figure:nth-child(2) { transform-origin: top right; }
div#quad figure:nth-child(3) { transform-origin: bottom left; }
div#quad figure:nth-child(4) { transform-origin: bottom right; }
div#quad figure:nth-child(5) { transform-origin: top left; }
div#quad figure:nth-child(6) { transform-origin: top right; }
div#quad figure figcaption { 
  margin: 0; opacity: 0; 
  background: rgba(0,0,0,0.3); 
  color: #fff; padding: .3rem; 
  font-size: 1.2rem; 
  position: absolute; 
  bottom: 0; width: 100%;
  transition: 1s 1s opacity; 
}
.expanded { transform: scale(2); z-index: 5;  }
div#quad figure.expanded figcaption { opacity: 1; }
div.full figure:not(.expanded) { pointer-events: none; }*/


#gallery2 {
  position:relative;
  width:300px;
  height:400px;
  top:10%;
  margin:0 auto;
  background:white;
  overflow:hidden;
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:   translate3d(0, 0, 0);
  -ms-transform:    translate3d(0, 0, 0);
  -o-transform:     translate3d(0, 0, 0);
  transform:        translate3d(0, 0, 0);
}
#gallery2 h3 {
  position:absolute;
  top:90px;
  left:0;
  right:0;
  text-align:center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:2rem;
  line-height:3rem;
  font-weight:300;
  color:#333;
  text-transform:uppercase;
  letter-spacing:3px;
}
#gallery2 h3 span  {
  display:block;
  background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#333));
  background-image:-webkit-linear-gradient(#333, #333);
  background-image:-moz-linear-gradient(#333, #333);
  background-image:-o-linear-gradient(#333, #333);
  background-image:linear-gradient(#333, #333);
  background-size:90px 1px;
  background-repeat:no-repeat;
  background-position:50% 100%;
}
#gallery2 > figure {
  position:absolute;
  width:100%;
  height:325px;
}

.one button {left:0;}
.two button {left:75px;}
.three button {left:150px;}
.four button {left:225px;}
.one figcaption,
.two figcaption,
.three figcaption,
.four figcaption {
  position:absolute;
  width:100%;
  display:block;
  top:0;
  text-align:center;
  z-index:2;
  -webkit-transform:translateY(400px);
  -moz-transform:translateY(400px);
  -ms-transform:translateY(400px);
  -o-transform:translateY(400px);
  transform:translateY(400px);
  -webkit-transition:all .25s;
  -moz-transition:all .25s;
  -o-transition:all .25s;
  transition:all .25s;
}
#gallery {
  position:relative;
  width:300px;
  height:400px;
  top:10%;
  margin:0 auto;
  background:white;
  overflow:hidden;
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:   translate3d(0, 0, 0);
  -ms-transform:    translate3d(0, 0, 0);
  -o-transform:     translate3d(0, 0, 0);
  transform:        translate3d(0, 0, 0);
}
#gallery h3 {
  position:absolute;
  top:90px;
  left:0;
  right:0;
  text-align:center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:2rem;
  line-height:3rem;
  font-weight:300;
  color:black;
  text-transform:uppercase;
  letter-spacing:3px;
}
#gallery h3 span  {
  display:block;
  background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#333));
  background-image:-webkit-linear-gradient(#333, #333);
  background-image:-moz-linear-gradient(#333, #333);
  background-image:-o-linear-gradient(#333, #333);
  background-image:linear-gradient(#333, #333);
  background-size:90px 1px;
  background-repeat:no-repeat;
  background-position:50% 100%;
}
#gallery > figure {
  position:absolute;
  width:100%;
  height:325px;
}
button {
  position:absolute;
  bottom:-75px;
  width:75px;
  height:55px;
  border:0;
  background-color:white;
  color: black;
  cursor:pointer;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:2rem;
  font-weight:200;
  color:rgba(255,255,255,0.4);
  z-index:9;
  -webkit-transition:all .15s;
  -moz-transition:all .15s;
  -o-transition:all .15s;
  transition:all .15s;
}
.one button {left:0; color:black;}
.two button {left:75px; color:black;}
.three button {left:150px;color:black;}
.four button {left:225px;color:black;}
.one figcaption,
.two figcaption,
.three figcaption,
.four figcaption {
  position:absolute;
  color: black;
  width:100%;
  display:block;
  top:0;
  text-align:center;
  z-index:2;
  -webkit-transform:translateY(400px);
  -moz-transform:translateY(400px);
  -ms-transform:translateY(400px);
  -o-transform:translateY(400px);
  transform:translateY(400px);
  -webkit-transition:all .25s;
  -moz-transition:all .25s;
  -o-transition:all .25s;
  transition:all .25s;
}
figure img {
  position:absolute;
  top:0;
  left:0;
  right:0;
  -webkit-transform:translateY(400px);
  -moz-transform:translateY(400px);
  -ms-transform:translateY(400px);
  -o-transform:translateY(400px);
  transform:translateY(400px);
  -webkit-transition:all .1s;
  -moz-transition:all .1s;
  -o-transition:all .1s;
  transition:all .1s;
}
h4 {
  position:relative;
  display:block;
  width:80%;
  margin:0 auto;
  padding:10px 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:normal;
  font-size:1.5rem;
  color:black;
  text-transform:uppercase;
  letter-spacing:3px;
}
h4:after {
  content:'';
  position:absolute;
  bottom:0;
  left:0;
  width:0%;
  height:1px;
  background:black;
  -webkit-transition:width 0s;
  -moz-transition:width 0s;
  -o-transition:width 0s;
  transition:width 0s;
}
button:focus {
  outline:none;
  color:black;
}
button::-moz-focus-inner {
  border: 0;

}
button:focus ~ img {
  -webkit-transform:translateY(0px);
  -moz-transform:translateY(0px);
  -ms-transform:translateY(0px);
  -o-transform:translateY(0px);
  transform:translateY(0px);
}
button:focus ~ figcaption {
  -webkit-transform:translateY(0px);
  -moz-transform:translateY(0px);
  -ms-transform:translateY(0px);
  -o-transform:translateY(0px);
  transform:translateY(0px);
  -webkit-transition:all .25s .12s;
  -moz-transition:all .25s .12s;
  -o-transition:all .25s .12s;
  transition:all .25s .12s;
}
button:focus ~ figcaption h4:after {
  width:100%;
  -webkit-transition:all .15s .5s;
  -moz-transition:all .15s .5s;
  -o-transition:all .15s .5s;
  transition:all .15s .5s;
}

=======
}
>>>>>>> parent of cf803c0... archivo
