/* EXAMPLE 8 - Center on mobile*/
 /*    @media only screen and (max-width : 768px){
  .example-8 .navbar-brand {
  padding: 0px;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}
.example-8 .navbar-brand>img {
  height: 100%;
  width: auto;
  padding: 7px 14px; 
}
}


/* EXAMPLE 8 - Center Background 
.example-8 .navbar-brand {
  background: url(lafo.png) center / contain no-repeat;
  width: 200px;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}



*/
body {
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  height: 80px;
  width: 100%;
  overflow: hidden;
  top: 0;
  align-items: center;
  background: #f1f1f1;
}

.menu {
  position: absolute;
  right: 40%;
  top: 35%;
}

.menu a {
  color: #333;
  text-decoration: none;
  font-weight: 700;
  margin-left: 20px;
  transition: color 0.3s;
  text-transform: uppercase;
}

.menu a:hover {
  color: #E7D60A;
}



.btn {
  display: none;
  position: absolute;
  right: 20px;
  top: 25%;
}

.btn:hover > span {
  background-color: #E7D60A;
}

.btn span {
  display: block;
  margin: 6px;
  width: 40px;
  height: 3px;
  background: #333;
}

@media only screen and (max-width: 600px) {
  .navbar {
    overflow: visible;
  }
  .menu {
    width: 100%;
    right: 0;
    top: 60px;
    background: #f1f1f1;
    overflow: hidden;
    max-height: 0;
  }
  .menu a {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 0;
  }
  .btn {
    display: block;
    cursor: pointer;
  }
  .show {
    max-height: 500px;
  }
}
footer {
  position: absolute;
  background-color: #242424;
  bottom: 0;
  right: 0;
  left: 0;
  font-family: 'Arial', sans-serif;
  font-size: 11px;
  
  .inner {
    display: flex;
    justify-content: space-between;
  }
  
  .copyright {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    color: #ccc;
  }
  
  .meta {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    
    ul {
      list-style-type: none;
      color: #fff;
    }
    
    .links {
      display: flex;
      justify-content: space-evenly;
      margin-right: 20px;
      width: 70%;
    }
    
    .icons {
      display: flex;
      justify-content: space-around;
      font-family: 'FontAwesome';
      width: 20%;
    }
  }
}

@media screen and (max-width: 645px) {
  footer {
    
    .copyright {
      align-items: flex-end;
    }
    
    .meta {
      flex-direction: column;
      align-items: flex-end;
      
      .links {
        order: 2;
        width: 80%;
        justify-content: space-between;
        margin: 10px 0 0 0;
      }
      
      .icons {
        order: 1;
        width: 100%;
        justify-content: flex-end;
        
        li:not(:last-child) {
          margin: 0 20px 0 0;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  footer {
    
    .inner {
      flex-direction: column;
    }
    
    .copyright {
      position: relative;
      margin: 0 0 20px 0;
      width: 100%;
      align-items: flex-start;
      
      &:after {
        content: "";
        position: absolute;
        margin: 10px 0 0 0;
        height: 1px;
        left: 0;
        right: 0;
        background-color: rgba(80,80,80,1);
      }
    }
    
    .meta {
      margin: 15px 0 0 0;
      width: 100%;
      flex-direction: row;
      
      .links {
        margin: 0;
        order: 1;
        align-items: flex-start;
        flex-direction: column;
        
        li:not(:last-child) {
          margin: 0 0 15px 0;
        }
      }
      
      .icons {
        order: 2;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        
        li:not(:last-child) {
          margin: 0 0 15px 0;
        }
      }
    }
  }
}