/* EXAMPLE 8 - Center on mobile*/
 /*    @media only screen and (max-width : 768px){
  .example-8 .navbar-brand {
  padding: 0px;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}
.example-8 .navbar-brand>img {
  height: 100%;
  width: auto;
  padding: 7px 14px; 
}
}


/* EXAMPLE 8 - Center Background 
.example-8 .navbar-brand {
  background: url(lafo.png) center / contain no-repeat;
  width: 200px;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}
*/


body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #666;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

h1 {
  padding: 5px 0;
  margin: 0;
  font-size: 75px;
  font-variant: small-caps;
}

h2 {
  font-size: 28px;
}

h3 {}

h4 {}

h5 {}

h6 {}

a {}

.wrapper {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #00cccc;
  z-index: 9998;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.navbar a {
  text-decoration: none;
  font-size: 17px;
  text-transform: lowercase;
  font-variant: small-caps;
  color: #666;
}

.top-logo {
  position: relative;
  height: 100%;
  width: 300px;
  float: left;
  background-image: url(lafo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
}

.top-menu {
  position: relative;
  height: 100%;
  float: right;
  padding: 5px 20px;
}

.navbar ul {
  list-style-type: none;
}

.navbar ul a:hover {
  color: #000;
}

.navbar ul li {
  display: inline-block;
  position: relative;
  padding: 0px 10px;
  width: 120px;
}

.navbar ul li ul {
  position: absolute;
  top: 35px;
  left: 0px;
  padding: 0;
  border: 1px solid #ccc;
  z-index: 9999;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.navbar ul li ul li {
  padding: 5px 9px;
  -webkit-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
}

.navbar ul li ul li:hover {
  background-color: #eeeeee;
}

.ddbut1:after,
.ddbut2:after {
  content: " \25bc";
  font-size: 10px;
  color: #ccc;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-top: 1px solid #00cccc;
  z-index: 9998;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}


/* Toggle Classes */

.hide {
  display: none;
}

.color {
  color: #00cccc;
}

.border {
  border: 1px solid #00cccc;
}


/* -------------- */

.mobile_button {
  position: fixed;
  width: 46px;
  height: 46px;
  top: 7px;
  right: 15px;
  z-index: 9999;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}


/* .mobile_button:hover:after {color:#00cccc;} */

.mobile_button:after {
  content: " \25bc";
  font-size: 23px;
  color: #ccc;
  padding: 11px;
  line-height: 50px;
}

.mobile_button:active {
  transition: none;
  -webkit-box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 950px) {
  .navbar ul {
    position: fixed;
    top: 61px;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .navbar ul li {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }
  .navbar ul li:hover {
    background-color: #eeeeee;
  }
  .navbar ul li ul {
    position: inherit;
    padding: 0;
    top: 0;
    background-color: #eeeeee;
    border: 0px solid #fff;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  }
  .navbar ul li ul li {
    padding: 10px 0;
  }
  .navbar ul li ul li:hover {
    background-color: #ffffff;
  }
  .mobile_button {
    display: inline;
  }
  .top-logo {
    width: 50%;
  }
}