body{
  font-family: Comfortaa
}
/*navbar*/
.header1 {
  width: 100%;
  height: 600px;
  background: url(postal_lafo1.png) no-repeat 50% 50%;
  background-size: cover;

}
.navbar {
  position: fixed;
  height: 80px;
  width: 100%;
  overflow: hidden;
  top: 0;
  align-items: center;
  background: #f1f1f1;
  z-index: 1;
}

.menu {
  position: absolute;
  right: 25%;
  top: 35%;
}

.menu a {
  color: #333;
  text-decoration: none;
  font-weight: 700;
  margin-left: 20px;
  transition: color 0.3s;
  text-transform: uppercase;
}

.menu a:hover {
  color: #F5A11F;
}



.btn {
  display: none;
  position: absolute;
  right: 20px;
  top: 25%;
}

.btn:hover > span {
  background-color: #F5A11F;
}

.btn span {
  display: block;
  margin: 6px;
  width: 40px;
  height: 3px;
  background: #333;
}

@media only screen and (max-width: 1200px) {
  .navbar {
    overflow: visible;
  }
  .menu {
    width: 100%;
    right: 0;
    top: 60px;
    background: #f1f1f1;
    overflow: hidden;
    max-height: 0;
  }
  .menu a {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 0;
    
  }
  .btn {
    display: block;
    cursor: pointer;
  }
  .show {
    max-height: 500px;
  }
}
/* navbar*/



/*footer*/
footer {
 
  text-align: center;
  padding: 10px;
  width: 100%;
  
}
#linea2{

  vertical-align: center;

height: 8px;
background-color: black;
border-radius: 10px;
border-color: black;
width: 20%;
}


/*TITULO*/

.titulocontacto{
text-align: center;

font-size: 40px;

}

.redes{

  text-decoration: none;
}

/*des*/
button{
  font-size: 14px;
  cursor: pointer;
  border: none;
  background: transparent;
}
.pull-right{
  text-align: right;
  /*   background-color: pink; */
  padding: 5px;
}

.card{
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
  padding:1em;
  top: 10%;

  text-align: center; /*center text*/
  background-color: white;
  
  color: grey;
  font-family: Comfortaa;
  border-color: black;
}



.expand{
  font-size: 30px;
  cursor: pointer;
  margin-bottom: 20px;


}
.expand i:hover {
  color: #E7D60A;
}

#hidedInfo{
  display: none;
  font-size: 14px;
  text-align: left;
  margin: 20px;
  color: black;
  font-family: Comfortaa;

}
#hidedInfo2{
  display: none;
  font-size: 14px;
  text-align: left;
  margin: 20px;
  color: black;
  font-family: 'Comfortaa';

}
#hidedInfo3{
  display: none;
  font-size: 14px;
  text-align: left;
  margin: 20px;
  color: black;
  font-family: 'Comfortaa';
  background-color:  white;
  padding: 20px 20px 20px 20px;



}
#hidedInfo4{
  display: none;
  font-size: 14px;
  text-align: left;
  margin: 20px;
  color: black;
  font-family: 'Comfortaa';
  background-color:  white;
  padding: 20px 20px 20px 20px;

}

.pic{
  /*  creates circle for img  */
 
  height: 200px;
  width: 150px;
  margin: 20px;
  box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.link img{
  width: 120px;
  height: auto;
}

/* des*/


/*que es*/
.espacio{
   margin-right: 10px;
   margin-left: 10px;
 }
 .quees{

  text-align: left;
 }


/* slider automatico*/
.slider {
  width: 95%;
  margin: auto;
  overflow: hidden;
}

.slider ul {
  padding: 0;
  display: flex;
  width: 400%;
  animation: slid 20s infinite reverse;
  animation-timing-function: ease-in;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 100%;
}

@keyframes slid {
  0% {margin-left: 0;}
  20% {margin-left: 0;}
  
  25% {margin-left: -100%;}
  45% {margin-left: -100%;}
  
  50% {margin-left: -200%;}
  70% {margin-left: -200%;}
  
  75% {margin-left: -300%;}
  100% {margin-left: -300%;}
}
/* slider automatico*/
/*chat */
.chat-container{
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: 340px;
  height: auto;
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 999;
}


.chat-button{
  width: 100%;
  margin: 0;
  cursor: pointer;
  user-select: none;
  padding: 4px 0;
  background-color: black;
  text-align: center;
  color: #fff;
}

.chat-content{
  margin: 0;
  padding: 0;
  display: none;
  background-color: #fff;
}
